<html>
<head>
	<title></title>
</head>
<body>
<header><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="container">
<div class="row">
<div class="col-sm-3"><a href="/"><img alt="Scanlan Jewelers logo. Family owned since 1903." class="logo" src="/_assets/img/scanlan-logo.png" /></a></div>
<!--col-->

<div class="col-sm-9">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/family/">Meet Our Family</a></li>
	<li><a href="https://scanlanjewelerswi.jewelershowcase.com">Jewelry</a></li>
	<li><a href="/diamonds/">Loose Diamonds</a></li>
	<li><a href="/contact">Location</a></li>
	<li><a href="/contact/">Contact Us</a></li>
</ul>
</div>
</div>
<!--row--></div>
<!--container--></header>

<div class="silver-row">
<div class="container">
<div clas="col-md-12">
<p>Free Jewelry Inspection and Cleaning</p>
</div>
<!--col--></div>
<!--container--></div>
<!--silver-row--></body>
</html>